<header>
  <a href="/">
    <img class="logo position-absolute m-4 ml-5" src="/images/logo.png">
  </a>
  <div class="text-right mr-4">
    <div class="d-inline-block m-4">
      <a href="/products">PRODUCTS</a>
    </div>
    <div class="d-inline-block m-4">
      <a href="/logout">LOGOUT</a>
    </div>
  </div>
</header>