<!DOCTYPE html>
<html>
  <% include ../partials/_head %>
  <body>
    <% include ../partials/_header %>
    <section class="product mt-5">
      <div class="container-fluid">
        <div class="row">
          <div class="col-6 offset-4 mt-2">
            <h1 class="ml-5 pl-5"><i class="fas fa-upload"></i> Import CSV</h1>
            <form class="mt-4" action="/import_csv/upload" method="POST" enctype="multipart/form-data" data-parsley-validate>
              <div class="input-group">
                <label class="input-group-btn mb-0">
                  <span class="btn btn-primary">
                    Browse… <input id="file" type="file" style="display: none;" name="csv" required>
                  </span>
                </label>
                <input id="reader" type="text" class="form-control field" readonly="">
              </div>
              <select class="product mt-4 form-control" name="product">
                <% products.forEach((product) => { %>
                  <option value="<%= product.product_shopify_id %>"><%= product.name %></option>
                <% }) %>
              </select>
              <button type="submit" class="submit-prod mt-4 btn btn-primary">Upload</button>
            </form>
          </div>
        </div>
      </div>
    </section>
    <script>
      $('#file').on('change', () => {
        var value = $('#file').val().substr(12);
        $('#reader').attr('placeholder',value);
      });
    </script>
  </body>
</html>
